<div>
  <h1>Forms Binding Component</h1>
  <h2>{{mensaje}}</h2>
  <!--EL FORMULARIO DEBE TENER UN ID DE ANGULAR IGUALADO A ngForm -->
  <form #userForm="ngForm" (ngSubmit)="recibirDatos()">
    <label>Nombre: </label>
    <!-- Los controles del formulario deben tener un id de angular como valor ngModel
      Para indicar el model binding debemos hacerlo así:
      [(ngModel)="mi modelo"] 
    -->
    <input type="text" name="cajanombre" #cajanombre="ngModel" [(ngModel)]="user.nombre" required/>
    <span style="color: red" *ngIf="cajanombre.valid == false && cajanombre.touched">El nombre es obligatorio</span>
    <label>Apellidos: </label>
    <input type="text" name="cajaapellidos" #cajaapellidos="ngModel" [(ngModel)]="user.apellidos"/>
    <label>Edad: </label>
    <input type="number" name="cajaedad" #cajaedad="ngModel" [(ngModel)]="user.edad"/>
    <button [disabled]="!userForm.valid">Enviar datos</button>
  </form>
  <h2 style="color: blue;">Nombre: {{user.nombre}}, Apellidos: {{user.apellidos}}, Edad {{user.edad}}</h2>
</div>